{% extends 'MatchTrackerAppBundle::layout.html.twig' %}

{% set active_page = 'matchcenter' %}

{% block title %}
	MatchCenter
{% endblock %}

{% block body %}
	<div class="container">
		<nav id="breadcrumbs">U bevindt zich hier: {{ xi_breadcrumbs() }}</nav>
		<h1>MatchCenter</h1>

		<div class="row-fluid">
			<div class="span9">

                {% if matches != null %}
                    <table class="table table-striped">

                        <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Wedstrijd</th>
                            <th>Score</th>
                            <th></th>
                            <th>Competitie</th>
                            <th>Sport</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for match in matches %}
                            <tr>
                                <td>{{ match.date|date('d-m-Y') }} {{ match.startTime|date('H:i') }}</td>
                                <td><a href="{{ path('matchcenter_detail', { 'id' : match.id  }) }}">{{ match.homeTeam.name }} - {{ match.awayTeam.name }}</a></td>
                                <td>{% if match.homeScore is null and match.awayScore is null  %}
                                    ... - ...
                                {% else %}
                                    {{ match.homeScore }} - {{ match.awayScore }}
                                {% endif %}</td>
                                <td>{% if match.active == 1 %}Live!{% endif %}</td>
                                <td><a href="{{ path('competition_show', { 'nameCanonical' : match.leagues.nameCanonical  }) }}">{{ match.leagues.name}}</a></td>
                                <th>{{ match.leagues.sportTypes.name }}</th>

                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                {% else %}
                    <div>
                        <h4>Helaas er werden geen wedstrijden gevonden</h4>

                    </div>
                {% endif %}
			</div>
		</div>

	</div>
{% endblock %}