{% extends "FOSUserBundle::layout.html.twig" %}

{% set active_page = "login" %}

{% block title %}
	Login
{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	<p>
	    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	</p>

	<p>
        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" required="required" />
	</p>

	<p>
		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
	</p>

	<p>
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
	</p>


	{{ facebook_login_button({'autologoutlink': false}) }}

	<script>
		function goLogIn(){
			window.location = "{{ path('authentication_facebook_login') }}";
		}

		function onFbInit() {
			if (typeof(FB) != 'undefined' && FB != null ) {
				FB.Event.subscribe('auth.statusChange', function(response) {
					setTimeout(goLogIn, 500);
				});
			}
		}
	</script>
</form>
{% endblock fos_user_content %}
