{% extends 'MatchTrackerAppBundle::layout.html.twig' %}

{% set active_page = "dashboard" %}

{% block title %}
Nieuwe competitie
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/matchtrackerapp/css/datepicker.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block body %}
    <h1>Nieuwe competitie: Info</h1>

	<div id="competition-steps">
		<ol class="clearfix">
			<li class="active">Info</li>
			<li>Sport</li>
			<li>Formule</li>
			<li>Locatie</li>
			<li>Teams</li>
		</ol>
		<span class="dottedLine"></span>
	</div>

    <form action="{{ path('competition_maker') }}" method="post" {{ form_enctype(form) }} class="form-horizontal competitionMaker" novalidate>
	    {{ form_errors(form) }}

	    <div class="control-group">
		    {{ form_label(form.name) }}
		    <div class="controls">
			    {{ form_widget(form.name) }}
			    <div class="error-tooltip animated fadeInRight">{{ form_errors(form.name) }}</div>
		    </div>
	    </div>

	    <div class="control-group">
		    {{ form_label(form.description)  }}
		    <div class="controls">
			    {{ form_widget(form.description) }}
			    <div class="error-tooltip animated fadeInRight">{{ form_errors(form.description) }}</div>
		    </div>
	    </div>

	    <div class="control-group">
		    {{ form_label(form.startdate)  }}
		    <div class="controls">
			    {{ form_widget(form.startdate) }}
			    <div class="error-tooltip animated fadeInRight">{{ form_errors(form.startdate) }}</div>
		    </div>
	    </div>

	    <div class="control-group">
		    {{ form_label(form.enddate)  }}
		    <div class="controls">
			    {{ form_widget(form.enddate) }}
			    <div class="error-tooltip animated fadeInRight">{{ form_errors(form.enddate) }}</div>
		    </div>
	    </div>

	    {{ form_rest(form) }}

        <div class="control-group spacer">
	        <div class="controls">
                <input type="submit" value="Volgende stap" class="button-green-mid"/>
	        </div>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/matchtrackerapp/js/bootstrap-datepicker.js') }}"></script>
	<script>
		$(document).ready(function(){
			$('#form_startdate, #form_enddate').datepicker({
				format: 'dd-mm-yyyy'
			});
		});
	</script>
{% endblock %}