{% extends 'MatchTrackerAppBundle::layout.html.twig' %}

{% set active_page = "dashboard" %}

{% block title %}
Nieuwe competitie
{% endblock %}

{% block body %}
	<nav id="breadcrumbs">U bevindt zich hier: {{ xi_breadcrumbs() }}</nav>
    <h1>Nieuwe competitie: Locatie</h1>

    <div id="competition-steps">
	    <ol class="clearfix">
		    <li class="done">Info</li>
		    <li class="done">Sport</li>
		    <li class="done">Formule</li>
		    <li class="active">Locatie</li>
	    </ol>
	    <span class="dottedLine"></span>
    </div>

    <div class="row-fluid">
        <form action="{{ path('competition_maker_location')  }}" method="post" {{ form_enctype(form) }} class="form-horizontal competitionMaker" novalidate>
            {{ form_errors(form) }}

            <div class="control-group">
	            {{ form_label(form.location, null, { 'label_attr': {'class': 'control-label'} }) }}
	            <div class="controls">
		            {{ form_widget(form.location) }}
		            <div class="error-tooltip animated fadeInRight">{{ form_errors(form.location) }}</div>
	            </div>
            </div>

            <div id="location">
                <div class="control-group">
                    {{ form_label(form.place, null, { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.place) }}
                        <div class="error-tooltip animated fadeInRight">{{ form_errors(form.place) }}</div>
                    </div>
                </div>

                <div class="control-group">
                    {{ form_label(form.field, null, { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.field, { 'attr': { 'value': '1'} }) }}
                        <div class="error-tooltip animated fadeInRight">{{ form_errors(form.field) }}</div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}

            <div class="control-group spacer">
	            <div class="controls">
		            <a href="{{ path('competition_maker_formula') }}" class="smallTxt">Ga terug</a>
		            <input type="submit" value="Voeg competitie toe" class="span2 button-green-mid"/>
	            </div>
            </div>
        </form>


    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script>
        window.onload=function(){
            if (document.getElementById("form_location").value == "more") {
                document.getElementById("location").style.display = 'none';
                document.getElementById("form_field").value = "0";
                document.getElementById("form_place").value = "null";
            }
        };

        function locationFunction() {
            if (document.getElementById("form_location").value == "more") {
                document.getElementById("location").style.display = 'none';

                document.getElementById("form_field").value = "0";
                document.getElementById("form_place").value = "null";
            } else {
                document.getElementById("location").style.display = 'block';
                document.getElementById("form_field").value = "";
                document.getElementById("form_place").value = "";
            }
        }
    </script>

{% endblock %}