{% extends 'MatchTrackerAppBundle::layout.html.twig' %}

{% set active_page = "dashboard" %}

{% block title %}
Nieuwe competitie
{% endblock %}

{% block body %}
    <h1>Nieuwe competitie: Sport</h1>

    <div id="competition-steps">
	    <ol class="clearfix">
		    <li class="done">Info</li>
		    <li class="active">Sport</li>
		    <li>Formule</li>
		    <li>Locatie</li>
		    <li>Teams</li>
	    </ol>
	    <span class="dottedLine"></span>
    </div>

    <div class="form-horizontal competitionMaker">
		<div class="control-group">
			<label class="control-label" for="">Sport</label>
			<div class="controls">

				{%  for sport, sportType in sportTypes %}
				<article class="sportType">
					<header class="clearfix">
						<img src="{{ asset('bundles/matchtrackerapp/img/'~ sport|lower|replace({' ':''}) ~ '.png') }}" alt="{{ sport }}" />
						<h1>{{ sport }}</h1>
					</header>
					<ul>
						{% for typeName, typeId in sportType %}
						<li><a href="{{ path('competition_maker_sport', {'type':typeId}) }}">{{ typeName }}</a></li>
						{% endfor %}
					</ul>

				</article>
				{% endfor %}
			</div>
		</div>

    </div>

{% endblock %}