{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block menu %}
	{{ parent() }}

	{#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
		{#<p>logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> - <a href="{{ path('_security_logout') }}">Logout</a></p>#}
	{#{% endif %}#}
	<a href="{{ path('_security_logout') }}">Logout</a>

{% endblock %}

{% block sidebar %}

{% endblock %}