{% extends "FOSUserBundle::layout.html.twig" %}

{% set active_page = "login" %}

{% block title %}
Login
{% endblock %}

{% block fos_user_content %}

<div id="fb-root"></div>

<div class="containerCenter">
	<div class="row-fluid">
		<div class="span6 offset3">
			<h1>Login</h1>
			<h3>Log in en organiseer uw eigen competitie!</h3>

			<div class="socialButtons">
				<a class="buttonTwitter">Inloggen met <i>&#62217;</i></a>
				<a class="buttonFacebook" href="#" onclick="fb_login();">Inloggen met <i>&#62220;</i></a>
			</div>

			<div class="lineText">
				<p>of login met uw account</p>
			</div>


			{% if error %}
			    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
			{% endif %}

			<form action="{{ path("fos_user_security_check") }}" class="span8 offset2 centeredForm" method="post">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				<p>
				    <input type="text" id="username" class="largeInput" name="_username" value="{{ last_username }}" placeholder="Email of gebruikersnaam"  />
				</p>

				<p>
			        <input type="password" id="password" name="_password" class="largeInput" placeholder="Password" />
					<p class="formSmallTxt alignRight"><a href="#">Paswoord vergeten?</a></p>
				</p>

				<p class="formBottom clearfix">
					<label class="checkbox alignLeft">
						<input type="checkbox" id="remember_me" name="_remember_me" value="on">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
					</label>

					<input type="submit" id="_submit" class="button-green-mid alignRight" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
				</p>

				<p class="formEndTxt">
					Heeft u nog geen account? <a href="#">Registreer dan hier</a>
				</p>


{#				<!-- Twitter login -->
				<span id="twitter_connect"></span>
				{{ twitter_anywhere_setConfig('callbackURL', 'http://matchtracker.localhost/app_dev.php/login_twitter_check') }}
				{{ twitter_anywhere_queue('T("#twitter_connect").connectButton()') }}

				<a href="{{ path ('authentication_connect_twitter')}}"> <img src="/images/twitterLoginButton.png"></a>


				{{ twitter_anywhere_initialize() }}#}

			</form>

		</div>
	</div>
</div>
{% endblock fos_user_content %}

{% block javascripts %}
	{{ parent() }}

	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId   : '514261705251002',
				oauth   : true,
				status  : true, // check login status
				cookie  : true, // enable cookies to allow the server to access the session
				xfbml   : true // parse XFBML
			});

		};

		function goLogIn(){
			window.location = "{{ path('authentication_facebook_login') }}";
		}

		function fb_login(){
			FB.login(function(response) {

				if (response.authResponse) {
					console.log('Welcome!  Fetching your information.... ');
					//console.log(response); // dump complete info
					access_token = response.authResponse.accessToken; //get access token
					user_id = response.authResponse.userID; //get FB UID

					FB.api('/me', function(response) {
						user_email = response.email; //get user email
						// you can store this data into your database

						setTimeout(goLogIn, 500);
					});

				} else {
					//user hit cancel button
					console.log('User cancelled login or did not fully authorize.');

				}
			}, {
				scope: 'email'
			});
		}
		(function() {
			var e = document.createElement('script');
			e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
			e.async = true;
			document.getElementById('fb-root').appendChild(e);
		}());
	</script>
{% endblock %}