{% extends 'MatchTrackerAppBundle::layout.html.twig' %}

{% set active_page = 'competition' %}

{% block title %}
    {{ league.name }}
{% endblock %}

{% block body %}
    <h1> {{ league.name }}</h1>
    <ul id="competitionInfo">
        <li>Type: {{ league.sportTypes.name }}</li>
        <li>Beheerder: {{ league.user.firstname }}</li>

    </ul>

    <article id="description">
        <h1>Omschrijving:</h1>
        {{ league.description }}
    </article>

    <article id="standing">
        {% for standing in standings %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in standing %}
                        <tr>
                            <td>test</td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </article>

    <article id="coming_matches">

    </article>


{% endblock %}


