{% extends 'MatchTrackerAppBundle::layout.html.twig' %}

{% set active_page = 'competition' %}

{% block title %}
    {{ league.name }}
{% endblock %}

{% block body %}
    <h1> {{ league.name }}</h1>
    <ul id="competitionInfo">
        <li>Type: {{ league.sportTypes.name }}</li>
        <li>Beheerder: {{ league.user.firstname }} {{ league.user.lastname }}</li>
        <li>Startdatum: {{ league.getStartdate |date("m/d/Y") }}</li>
        <li>Einddatum: {{ league.getEnddate |date("m/d/Y") }}</li>
        {% if league.place %}
            <li>Plaats: {{ league.place }}</li>
        {% endif %}
    </ul>

    <h3>Omschrijving:</h3>
    {{ league.description }}

    <article id="standing">

        {% for standing in standings %}
            <h2>{{ standing.name }}</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>W</th>
                        <th>G</th>
                        <th>V</th>
                        <th>P</th>
                    </tr>
                </thead>
                <tbody>
                    {% for statistic in standing.getSortedStatistics %}
                        <tr>
                            <td>{{ statistic.position }}</td>
                            <td>{{ statistic.teams.getName }}</td>
                            <td>{{ statistic.wins }}</td>
                            <td>{{ statistic.draws }}</td>
                            <td>{{ statistic.losses }}</td>
                            <td>{{ statistic.points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </article>

    <article id="previousMatches">
        <h3>Laatst gespeelde wedstrijden</h3>
    </article>

    <article id="nextMatches">
        <h3>Volgende wedstrijden</h3>
    </article>


{% endblock %}


