{% extends 'MatchTrackerAppBundle::layout.html.twig' %}

{% set active_page = "dashboard" %}

{% block title %}
Competitie Maker
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/matchtrackerapp/css/datepicker.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block body %}
    <h1>Competitie maker</h1>
    <h4>Info - Sport - Formule - Locatie - Teams</h4>

    <form  novalidate action="{{ path('competition_maker') }}" method="post" {{ form_enctype(form) }} class="">
        {{ form_widget(form) }}
        <p class="formBottom clearfix">
            <input type="submit" value="Volgende stap" class="span2 button-green-mid"/>
        </p>
    </form>



{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="{{ asset('bundles/matchtrackerapp/js/bootstrap-datepicker.js') }}"></script>
    <script>
        <script>
        $(function(){

            $('#form_startdate').datepicker();
        });


    </script>
{% endblock %}