<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset=utf-8" />
	<title>MatchTracker - {% block title %}{% endblock %}</title>

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}

		.sidebar-nav {
			padding: 9px 0;
		}
	</style>

	{% block stylesheets %}
		<link href="{{ asset('bundles/matchtrackerapp/css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
		<link href="{{ asset('bundles/matchtrackerapp/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet"/>
	{% endblock %}

	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

	{{ twitter_anywhere_setup() }}
</head>
<body>

{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">

		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="{{ path('homepage') }}">MatchTracker</a>

			<div class="nav-collapse collapse">

				<ul class="nav">
					<li {% if active_page == "home" %} class="active"{% endif %}><a href="{{ path('homepage') }}">Home</a></li>
					<li {% if active_page == "competition" %} class="active"{% endif %}><a href="{{ path('competition') }}">Competities</a></li>
					<li><a href="#">Wedstrijden</a></li>

					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<li><a href="{{ path('authentication_logout') }}">Log out</a></li>
					{% else %}
						<li {% if active_page == "login" %} class="active"{% endif %}><a href="{{ path('authentication_login') }}">Login</a></li>
						<li {% if active_page == "register" %} class="active"{% endif %}><a href="{{ path('authentication_register') }}">Register</a></li>
					{% endif %}

				</ul>

				{% block menu %}

				{% endblock %}
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>


<div class="container">
	{% block body %}{% endblock %}


</div>

<div class="footer container">
	<p>&copy; MatchTracker 2012</p>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>